version: "3.8"

services:
    2uml-app:
        container_name: "2uml-app"
        image: "2uml-app:1.0.0"
        build:
            context: "."
            dockerfile: "dev/Dockerfile"
        ports:
            - "7860:7860"
        volumes:
            - "./app:/app"
