/* Home */

#container-display {
    height: 512px !important;
}

.CodeMirror {
    width: 100% !important;
    height: 512px !important;
    font-size: 16px !important;
    border: 1px solid #4a5056 !important;
    border-radius: 16px !important;
}
