<!-- Jinja :: Template -->
{% extends 'base.html' %}

<!-- Jinja :: Theme -->
{% set theme_title = 'Home' %}

<!-- Jinja :: Styles -->
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/components/chat.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/home.css') }}">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/lib/codemirror.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/theme/shadowfox.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/lib/codemirror.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/addon/edit/matchbrackets.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/addon/edit/closebrackets.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/mode/clike/clike.js"></script>
{% endblock %}

<!-- Jinja :: Content -->
{% block content %}
<div class="d-flex justify-content-center align-items-center w-100 overflow-auto dropdown-bug">
    <div class="d-flex flex-column justify-content-between align-items-center gap-4 w-75 p-5">
        <div class="d-flex justify-content-center align-items-center gap-4 w-100">

            <!-- Editor -->
            <div class="d-flex justify-content-center align-items-center gap-5 w-100 rounded-4">
                <textarea id="textarea-editor"></textarea>
            </div>

            <!-- Display -->
            <div id="container-display" class="d-flex flex-column justify-content-end align-items-center gap-4 w-100 p-4 border rounded-4">
                <div class="d-flex justify-content-center align-items-center w-100 h-100 bg-white border rounded-3">
                    <img id="img-display" class="h-100 p-3 img-fluid object-fit-contain" src="" alt="Image">
                </div>
                <select class="form-select border rounded-3">
                    <option selected>Templates</option>
                    <option value="1">-</option>
                    <option value="2">-</option>
                    <option value="3">-</option>
                </select>
            </div>
        </div>

        <!-- Prompt -->
        <div id="container-prompt" class="border rounded-4">
            <form>
                <textarea type="text" placeholder="Ask me to design a system" required rows="1"></textarea>
                <button id="btn-prompt-submit" class="btn btn-primary" type="button" name="btn-prompt-submit" title="Send">
                    <i class="bi bi-arrow-up"></i>
                </button>
            </form>
        </div>

        <!-- Footer -->
        <footer class="footer w-100 text-center">
            <span id="copyright">Copyright &copy; YYYY <span class="text-primary">{{ config.system.name }}</span>. All rights reserved.</span>
        </footer>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/pages/chat.js') }}" data-endpoint="{{ url_for('index.generate_code') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pages/diagram.js') }}" data-endpoint="{{ url_for('index.generate_diagram') }}"></script>
{% endblock %}