:root,
[data-bs-theme="light"] {
	--bs-primary: #7187f7 !important;
	--bs-primary-rgb: 113, 135, 247 !important;
	--bs-primary-text-emphasis: #6370f1 !important;
	--bs-primary-bg-subtle: #c7d6fe !important;
	--bs-primary-border-subtle: #a5bafc !important;
	--bs-light: #eaeaea !important;
	--bs-light-rgb: 234, 234, 234 !important;
	--bs-light-text-emphasis: #5e5e5e !important;
	--bs-light-bg-subtle: #fbfbfb !important;
	--bs-light-border-subtle: #f7f7f7 !important;
	--bs-link-color: #7187f7 !important;
	--bs-link-color-rgb: 113, 135, 247 !important;
	--bs-link-hover-color: #6370f1 !important;
	--bs-link-hover-color-rgb: 99, 112, 241 !important;
}

.btn-primary {
	--bs-btn-color: #fff !important;
	--bs-btn-bg: #7187f7 !important;
	--bs-btn-border-color: #7187f7 !important;
	--bs-btn-hover-color: #fff !important;
	--bs-btn-hover-bg: #6370f1 !important;
	--bs-btn-hover-border-color: #6370f1 !important;
	--bs-btn-focus-shadow-rgb: 113, 135, 247 !important;
	--bs-btn-active-color: #fff !important;
	--bs-btn-active-bg: #4648e5 !important;
	--bs-btn-active-border-color: #4648e5 !important;
	--bs-btn-disabled-color: #fff !important;
	--bs-btn-disabled-bg: #7187f7 !important;
	--bs-btn-disabled-border-color: #7187f7 !important;
}

.btn-outline-primary {
	--bs-btn-color: #7187f7 !important;
	--bs-btn-border-color: #7187f7 !important;
	--bs-btn-focus-shadow-rgb: 113, 135, 247 !important;
	--bs-btn-hover-color: #fff !important;
	--bs-btn-hover-bg: #7187f7 !important;
	--bs-btn-hover-border-color: #7187f7 !important;
	--bs-btn-active-color: #fff !important;
	--bs-btn-active-bg: #7187f7 !important;
	--bs-btn-active-border-color: #7187f7 !important;
	--bs-btn-disabled-color: #7187f7 !important;
	--bs-btn-disabled-bg: transparent !important;
	--bs-btn-disabled-border-color: #7187f7 !important;
}

.btn-light {
	--bs-btn-color: #000000 !important;
	--bs-btn-bg: #eaeaea !important;
	--bs-btn-border-color: #eaeaea !important;
	--bs-btn-hover-color: #000000 !important;
	--bs-btn-hover-bg: #c7c7c7 !important;
	--bs-btn-hover-border-color: #bbbbbb !important;
	--bs-btn-focus-shadow-rgb: 35, 35, 35 !important;
	--bs-btn-active-color: #000000 !important;
	--bs-btn-active-bg: #bbbbbb !important;
	--bs-btn-active-border-color: #b0b0b0 !important;
	--bs-btn-disabled-color: #000000 !important;
	--bs-btn-disabled-bg: #eaeaea !important;
	--bs-btn-disabled-border-color: #eaeaea !important;
}

.btn-outline-light {
	--bs-btn-color: #eaeaea !important;
	--bs-btn-border-color: #eaeaea !important;
	--bs-btn-focus-shadow-rgb: 234, 234, 234 !important;
	--bs-btn-hover-color: #000000 !important;
	--bs-btn-hover-bg: #eaeaea !important;
	--bs-btn-hover-border-color: #eaeaea !important;
	--bs-btn-active-color: #000000 !important;
	--bs-btn-active-bg: #eaeaea !important;
	--bs-btn-active-border-color: #eaeaea !important;
	--bs-btn-disabled-color: #eaeaea !important;
	--bs-btn-disabled-bg: transparent !important;
	--bs-btn-disabled-border-color: #eaeaea !important;
}
