/* Root */

:root {
	--primary: #7187f7;
}

::selection {
	color: var(--bs-primary);
	background-color: var(--bs-primary-bg-subtle);
}

body {
	font-family: "Noto Sans", sans-serif !important;
}

a {
	text-decoration: none !important;
}

input:focus {
	outline: none !important;
	box-shadow: none !important;
}

textarea:focus {
	outline: none !important;
	box-shadow: none !important;
}
