:root, [data-bs-theme=light] {
  --bs-dark: #f5f5f5;
  --bs-dark-rgb: 245,245,245;
  --bs-dark-text-emphasis: #626262;
  --bs-dark-bg-subtle: #FDFDFD;
  --bs-dark-border-subtle: #FBFBFB;
}

.btn-dark {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f5f5f5;
  --bs-btn-border-color: #f5f5f5;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F7F7F7;
  --bs-btn-hover-border-color: #F6F6F6;
  --bs-btn-focus-shadow-rgb: 37,37,37;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F7F7F7;
  --bs-btn-active-border-color: #F6F6F6;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f5f5f5;
  --bs-btn-disabled-border-color: #f5f5f5;
}

.btn-outline-dark {
  --bs-btn-color: #f5f5f5;
  --bs-btn-border-color: #f5f5f5;
  --bs-btn-focus-shadow-rgb: 245,245,245;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f5f5f5;
  --bs-btn-hover-border-color: #f5f5f5;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f5f5f5;
  --bs-btn-active-border-color: #f5f5f5;
  --bs-btn-disabled-color: #f5f5f5;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f5f5f5;
}

[data-bs-theme=dark] {
  --bs-dark: black;
  --bs-dark-rgb: 0,0,0;
  --bs-dark-text-emphasis: #666666;
  --bs-dark-bg-subtle: #000000;
  --bs-dark-border-subtle: #000000;
  --bs-body-color: white;
  --bs-body-color-rgb: 255,255,255;
  --bs-secondary-color: rgba(255,255,255,0.75);
  --bs-secondary-color-rgb: 255,255,255,0.75;
  --bs-tertiary-color: rgba(255,255,255,0.5);
  --bs-tertiary-color-rgb: 255,255,255,0.5;
  --bs-body-bg: #252525;
  --bs-body-bg-rgb: 37,37,37;
}

[data-bs-theme=dark] .btn-dark, .btn-dark[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: black;
  --bs-btn-border-color: black;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 217,217,217;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #000000;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: black;
  --bs-btn-disabled-border-color: black;
}

[data-bs-theme=dark] .btn-outline-dark, .btn-outline-dark[data-bs-theme=dark] {
  --bs-btn-color: black;
  --bs-btn-border-color: black;
  --bs-btn-focus-shadow-rgb: 0,0,0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: black;
  --bs-btn-hover-border-color: black;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: black;
  --bs-btn-active-border-color: black;
  --bs-btn-disabled-color: black;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: black;
}

