@media (min-width: 768px) {
  #sidebar {
    display: block!important;
  }
}

@media (min-width: 768px) {
  .row-content {
    margin: 0 12px!important;
  }
}

@media (min-width: 768px) {
  #content {
    height: 750px!important;
  }
}

