.btn-menu:hover {
  background: var(--bs-dark)!important;
}

.btn-menu-out:hover {
  background: var(--bs-body-bg)!important;
}

@media (min-width: 768px) {
  #btn-menu {
    height: 0!important;
    display: none!important;
  }
}

